body {
  font-family: "Rampart One", cursive;
  color: rgb(4, 26, 121);
}
.container {
  background-color: #f3c7db;
  max-width: 1000px;
  margin: 0 auto;
  padding-bottom:7rem;
  padding-right: 10px;
  vertical-align: middle;
}

#modal {
  display: none;
  vertical-align: middle;
  background-color: #9ca1f0;
  color: #50096e;
  text-align: center;
  z-index: 1;
  left:30%;
  bottom:40%;
  height: 300px;
  width: 450px;
  position: fixed;
}
.card-back-image {
  width: 40px;
  height: 50px;
}
.cards-back-design,
.background {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-direction: row;
}
#infoCard {
  display: none;
  vertical-align: middle;
  background-color: #d3d6fa;
  color: #50096e;
  width: 350px;
  height: 350px;
  left:30%;
   top:20%;
  z-index: 1;
  margin: 0 auto;
  position: fixed;
  border: 2px solid #50096e;
}
#closeInfoCard {
  display: flex;
  top:0;
  right:0;
}
.infocard-header {
  padding: 0;
  margin: 0;
}
.inforcard-text {
  padding: 2px 10px 0 10px ;
}
h1 {
  text-align: center;
  padding-top: 4rem;
  padding-bottom: 2rem;
  font-size: 40px;
}
h3 {
  text-align: center;
}
.radio-butttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.radio-label {
  padding-left:45px
}
.settings_container {
  float: right;
  cursor: pointer;
  font-size: 40px;
  margin-top: 0px;
}
#play-button {
  font-family: "Monoton", cursive;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  text-align: center;
  background-image: linear-gradient(
    to right,
    #e927df,
    #490340,
    #c92ff0,
    #620974
  );
  color: white;
  font-size: 30px;
  border: none;
  padding: 10px 30px 10px 30px;
  border-radius: 5%;
  margin-top: 10%;
  cursor: pointer;
}

.radio-button {
  display: flex;
  flex-direction: column-reverse;
}
.radio-label {
  display: flex;
  justify-content: space-between;
  padding-right: 3rem;
}

.fa-info-circle,
.fa-cog {
  color: #7a047a;
}
#settings-reset,
#settings-apply {
  background-color: darkviolet;
  color: white;
  margin: 30px 10px 0px 10px;
  border-radius: 5%;
  width: 70px;
  height: 20px;
  border: none;
}
.button-container {
  display: flex;
  align-content: flex-end;
  justify-content: right;
}
.easy-game, .medium-game, .hard-game {
  background-color: #f3c7db;
  display: none;
  max-width: 1000px;
  min-width: 500px;
  margin: 0 auto;
  padding: 20px 20px 120px 20px;
}
img {
  width: 100px;
  height: 150px;
  padding: 1px;
  cursor: pointer;
}
.sm-card-container{
  display: flex;
  flex-wrap: wrap;
  justify-content:space-evenly;
  margin: 0 auto;
  width: 500px;
  height: 500px;
  max-width: 800px;
  margin-top: 20px;
  padding-top:15px;
  background-color: #faf5fa;
}
.md-card-container{
  display: flex;
  flex-wrap: wrap;
  justify-content:space-evenly;
  margin: 0 auto;
  width: 600px;
  height: 500px;
  max-width: 800px;
  margin-top: 20px;
  padding-top:15px;
  background-color: #faf5fa;
}
.lg-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 0 auto;
  height: 500px;
  width: 800px;
  margin-top: 20px;
  padding-top:15px;
  background-color: #faf5fa;
}
.game-info {
  display: flex;
  width:500px;
  flex-direction: row;
  margin: 0 auto;
  justify-content: space-evenly;
}
.timer,
.turns,
.score,
.match {
  padding: 0 40px 0 40px;
  background: linear-gradient(to right, white, #f3c7db);
  line-height: 40px;
}
.game-level {
  display: flex;
  align-content: flex-start;
  justify-content: flex-start;
  font-size: 30px;
  font-weight: 800;
  padding-right: 60px;
}
.result-container {
  display: none;
  width: 500px;
  height: 500px;
  margin: 0 auto;
  background-color: cornflowerblue;
}
.result-text {
  text-align: center;
  font-size: 30px;
}
#reset-button {
  font-family: "Monoton", cursive;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  text-align: center;
  background-image: linear-gradient(
    to right,
    #e927df,
    #490340,
    #c92ff0,
    #620974
  );
  color: white;
  font-size: 30px;
  border: none;
  padding: 10px 30px 10px 30px;
  border-radius: 5%;
  margin-top: 10%;
  cursor: pointer;
}
.blue {
  background-color: #54acf3;
  width: 40px;
  height: 50px;
}
.white {
  background-color: #ffffff;
  width: 40px;
  height: 50px;
}
.green {
  background-color: #bcf7a1;
  width: 40px;
  height: 50px;
}
.orange {
  background-color: #f7d9a1;
  width: 40px;
  height: 50px;
}
.yellow {
  background-color: #eeeea0;
  width: 40px;
  height: 50px;
}
.grey {
  background-color: #dfdfdf;
  width: 40px;
  height: 50px;
}
.purple {
  background-color: #f3acf3;
  width: 40px;
  height: 50px;
}
.pink {
  background-color: #f797b4;
  width: 40px;
  height: 50px;
}
.red {
  background-color: #f39797;
  width: 40px;
  height: 50px;
}
.violet {
  background-color: #f8abf8;
  width: 40px;
  height: 50px;
}
